<%= form_tag "/phones", method: :post do %>
  <p>color: <input type="text" name="color"></p>
  <p>brand: <input type="text" name="brand"></p>
  <p>size: <input type="text" name="size"></p>
  <p><input type="submit" value="make a new phone"></p>
<% end %>